.padded-content{
    padding:1.5em;
}

.footer{
    margin-top:2em;
    border-top: 1px solid #efefef;
    padding-top:1em;
    text-align:center;
}


.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

body{
    .impact{
        font-family: 'Oswald', sans-serif;
    }
    .marker{
        font-family: 'Permanent Marker', cursive;
    }

    .navbar:not(:hover){
        .nav{
            -webkit-transition: opacity 1.5s;
            opacity:.5;
        }
    }
    .nav{
        -webkit-transition: opacity .25s;
    }


    .navbar, .nav-tabs, .afternav{
        font-family: 'Permanent Marker', cursive;
        color:white;
        &.navbar-inverse{
            li>a, .brand{
                color:white;
                
            }
        }
    }
    .about-contest{
        cursor:pointer;
    }
    .afternav{
        background-color:black;
        padding-left:1.5em;
        line-height:1.25em;
        -webkit-font-smoothing:antialiased;
    }
}
