.content{
    .content-area{
        padding-left:2em;
        padding-right:2em;
        padding-bottom:2em;
        .tab-pane{
            overflow-x:hidden;
            .header{
                text-align:center;
                width:100%;
                margin-bottom:1em;
            }
            .content{
                &.dl-content{
                    max-width:650px;
                    margin-top:2em;
                    margin-bottom:5em;
                    .item{
                        margin-bottom:.5em;
                        dt{
                            overflow-y:visible;
                        }
                        dd{
                            &.hidden{
                                opacity:0;
                            }
                        }
                        .howitworks{
                            margin-bottom:1em;
                            dt{
                                overflow:visible;
                            }
                        }
                    }
                }
            }
        }
        .optional:not(:hover){
            color:lightgray;
        }
        .alert{
            opacity:.4;
            left: 50%;
            margin-left: -100%;
            padding: 1.5em;
            width: 200%;
            position: relative;
            margin-top:1.5em;
            margin-bottom:.75em;
        }
    }
}