.cf2{
    width: 100%;
    margin-top: -0px;
    margin-bottom: -0px;
    height: 300px;
    background-position: 0px;
    z-index: -1;
    background-image: url(/img/brew_images/Inspiration/Katscape.jpg);
}

