/** all templates inherit styles from base */
.padded-content {
  padding: 1.5em; }

a {
  cursor: pointer; }

.footer {
  margin-top: 2em;
  border-top: 1px solid #efefef;
  padding-top: 1em;
  text-align: center; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

body .marker {
  font-family: 'Permanent Marker', cursive; }
body .marker-inverse {
  color: white;
  font-family: 'Permanent Marker', cursive; }
body .navbar:not(:hover) .nav {
  -webkit-transition: opacity 1.5s;
  opacity: .5; }
body .nav {
  -webkit-transition: opacity .25s; }
body .navbar-inverse li > a, body .navbar-inverse .brand {
  color: white; }
body .about-contest {
  cursor: pointer; }
body .afternav {
  background-color: black;
  padding-left: 1.5em;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased; }

/** page specific styles */
.description {
  line-height: 1.5em; }
  .description ol, .description ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 0px;
    list-style: lower-roman; }
    .description ol > li, .description ul > li {
      margin-bottom: .5em;
      line-height: 1.5em; }

body.about .thumbnails {
  margin-top: 30px; }
  body.about .thumbnails .span12 {
    display: block; }
  body.about .thumbnails li {
    display: inline-block;
    float: none;
    position: relative;
    cursor: pointer; }
  body.about .thumbnails .caption {
    padding: 0px; }
  body.about .thumbnails li:hover .oneword, body.about .thumbnails li:hover .manyword {
    color: rgba(0, 0, 0, 0.6); }
  body.about .thumbnails li:not(:hover) .oneword, body.about .thumbnails li:not(:hover) .manyword {
    color: rgba(0, 0, 0, 0.3); }
  body.about .thumbnails li.active {
    display: block; }
    body.about .thumbnails li.active .w300 {
      display: none; }
    body.about .thumbnails li.active .oneword {
      display: none; }
  body.about .thumbnails li:not(.active) {
    margin-bottom: 3em; }
    body.about .thumbnails li:not(.active) .w1200 {
      display: none; }
    body.about .thumbnails li:not(.active) .manyword {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    body.about .thumbnails li:not(.active) .oneword {
      bottom: 100%;
      position: absolute;
      left: 0px;
      right: 0px; }
    body.about .thumbnails li:not(.active) .caption {
      position: absolute;
      top: 100%;
      left: 0px;
      right: 0px;
      height: 2.5em; }
      body.about .thumbnails li:not(.active) .caption > h3, body.about .thumbnails li:not(.active) .caption h2, body.about .thumbnails li:not(.active) .caption h4 {
        display: none; }
  body.about .thumbnails .w1200 {
    width: 600px;
    max-width: 100%; }
  body.about .thumbnails .manyword {
    position: relative; }
  body.about .thumbnails .oneword {
    position: relative;
    width: 100%;
    left: 0px;
    right: 0px;
    text-align: center; }

body.main body.coolship .nav-tabs.nav-tabs {
  border-top: 1px solid black; }
  body.main body.coolship .nav-tabs.nav-tabs a {
    -webkit-font-smoothing: antialiased;
    color: #333; }
  body.main body.coolship .nav-tabs.nav-tabs > li {
    margin-bottom: 0px;
    margin-left: .75em;
    margin-right: .75em; }
  body.main body.coolship .nav-tabs.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    border: 0px solid white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left: 1.5em;
    padding-right: 1.5em; }
  body.main body.coolship .nav-tabs.nav-tabs > .active > a {
    color: white;
    border: 0px solid white;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-bottom: -1px;
    background-color: #000; }
  body.main body.coolship .nav-tabs.nav-tabs > li:not(.dropdown):not(.active) > a {
    background-color: white; }

body.financial h2 {
  padding-left: 20px; }
body.financial .by-what-tab-content {
  position: relative; }
  body.financial .by-what-tab-content .fullbody-tab {
    margin-bottom: 40px;
    background-color: white; }
  body.financial .by-what-tab-content .by-what-tabs {
    box-shadow: 0px -6px 12px -3px rgba(0, 0, 0, 0.1) inset;
    border-top: 1px lightgray solid;
    padding-top: .75em;
    padding-bottom: .75em;
    background-color: #eee;
    margin-top: .5em;
    text-align: center;
    width: 100%; }
  body.financial .by-what-tab-content .nav-tabs {
    padding-left: 20px; }
  body.financial .by-what-tab-content .tab-pane {
    padding-top: 20px;
    padding-left: 20px;
    background-color: white;
    min-height: 100px; }
    body.financial .by-what-tab-content .tab-pane dl {
      padding-left: 30px; }
      body.financial .by-what-tab-content .tab-pane dl > dd {
        display: inline-block; }
      body.financial .by-what-tab-content .tab-pane dl > dt {
        display: inline-block; }
