/** all templates inherit styles from base */
.padded-content {
  padding: 1.5em; }

.footer {
  margin-top: 2em;
  border-top: 1px solid #efefef;
  padding-top: 1em;
  text-align: center; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

body .impact {
  font-family: 'Oswald', sans-serif; }
body .marker {
  font-family: 'Permanent Marker', cursive; }
body .navbar:not(:hover) .nav {
  -webkit-transition: opacity 1.5s;
  opacity: .5; }
body .nav {
  -webkit-transition: opacity .25s; }
body .navbar, body .nav-tabs, body .afternav {
  font-family: 'Permanent Marker', cursive;
  color: white; }
  body .navbar.navbar-inverse li > a, body .navbar.navbar-inverse .brand, body .nav-tabs.navbar-inverse li > a, body .nav-tabs.navbar-inverse .brand, body .afternav.navbar-inverse li > a, body .afternav.navbar-inverse .brand {
    color: white; }
body .about-contest {
  cursor: pointer; }
body .afternav {
  background-color: black;
  padding-left: 1.5em;
  line-height: 1.25em;
  -webkit-font-smoothing: antialiased; }

/** page specific styles */
.thumbnails-container {
  margin-top: 1.5em;
  text-align: center;
  position: relative;
  width: 100%; }
  .thumbnails-container .thumbnails {
    width: 800px;
    margin-left: auto;
    margin-right: auto; }

.description {
  line-height: 1.5em; }
  .description ol, .description ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 0px;
    list-style: lower-roman; }
    .description ol > li, .description ul > li {
      margin-bottom: .5em;
      line-height: 1.5em; }
