.content .content-area {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em; }
  .content .content-area .tab-pane {
    overflow-x: hidden; }
    .content .content-area .tab-pane .header {
      text-align: center;
      width: 100%;
      margin-bottom: 1em; }
    .content .content-area .tab-pane .content.dl-content {
      max-width: 650px;
      margin-top: 2em;
      margin-bottom: 5em; }
      .content .content-area .tab-pane .content.dl-content .item {
        margin-bottom: .5em; }
        .content .content-area .tab-pane .content.dl-content .item dt {
          overflow-y: visible; }
        .content .content-area .tab-pane .content.dl-content .item dd.hidden {
          opacity: 0; }
        .content .content-area .tab-pane .content.dl-content .item .howitworks {
          margin-bottom: 1em; }
          .content .content-area .tab-pane .content.dl-content .item .howitworks dt {
            overflow: visible; }
  .content .content-area .optional:not(:hover) {
    color: lightgray; }
  .content .content-area .alert {
    opacity: .4;
    left: 50%;
    margin-left: -100%;
    padding: 1.5em;
    width: 200%;
    position: relative;
    margin-top: 1.5em;
    margin-bottom: .75em; }
