.content .nav-tabs {
  border-top: 1px solid black; }
  .content .nav-tabs a {
    -webkit-font-smoothing: antialiased;
    color: #333; }
  .content .nav-tabs > li {
    margin-bottom: 0px;
    margin-left: .75em;
    margin-right: .75em; }
  .content .nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    border: 0px solid white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-left: 1.5em;
    padding-right: 1.5em; }
  .content .nav-tabs > .active > a {
    color: white;
    border: 0px solid white;
    border-bottom-color: black;
    border-bottom-width: 1px;
    margin-bottom: -1px;
    background-color: #000; }
  .content .nav-tabs > li:not(.active) > a {
    background-color: white; }
.content .content-area {
  padding: 2em; }
